@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC|Open+Sans);

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}

/* Navigation */
#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 42px;
}
#nav .wrapper {
    padding: 10px;
}
#nav h1,
#nav span,
#nav a {
    font-family: 'Playfair Display SC', serif;
    color: #5E5E5E;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}

/* content */
#content {
    padding: 50px 10px 10px 10px;
}
#content h1 {
    font-family: 'Playfair Display SC', serif;
    color: #333;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
}