@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC|Open+Sans);

* {
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}

/* Navigation */
#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 42px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
#nav .wrapper {
    padding: 10px;
}
#nav h1,
#nav span,
#nav a {
    font-family: 'Playfair Display SC', serif;
    color: #5E5E5E;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}
#nav a {
	color: #333;
}
#nav .nav {
	float: right;
}
#nav .nav ul {
	margin: 0px;
	padding: 0px;
list-style: none;
}
#nav .nav ul li {
	display: none;
	width: 80px;
	padding: 8px 10px;
	cursor: pointer;
	text-align: right;
}
#nav .nav ul li.hidden {
	display: none !important;
}
#nav .nav ul:hover li,
#nav .nav ul li.selected {
	display: block;
}
#nav .nav ul:hover li {
	background: #f8f8f8;
}
#nav .nav ul:hover li + li {
	border-top: 1px solid #e7e7e7;
}

/* content */
#content {
    padding: 50px 10px 10px 10px;
}
#content h1 {
    font-family: 'Playfair Display SC', serif;
    color: black;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
}
#content .empty h1 {
	color: #999;
}

#content .hit {
	float: left;
	padding: 20px;
	-ms-word-break: break-all;
word-wrap: break-word;
word-break: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
}
#content .background {
	height: 150px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: #48729C;
	border-radius: 150px;
}
#content .empty .background {
	background: #eee;
}
#content .content {
	width: 130px;
	padding: 0px 10px;
}
#content .hit .wrapper_news {
	display: none;
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	background: #eee;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	margin-top: 55px;
}
#content .hit .wrapper_news .news {
	padding: 5px 10px;
}
#content .hit .wrapper_news .news + .news {
	border-top: 1px solid #999;
}
#content .hit .wrapper_news .news img {
	float: left;
	max-height: 60px;
	margin-right: 10px;
}
#content .hit .wrapper_news .news .clear {
	clear: left;
}
#content .hit:hover .wrapper_news,
#content .hit .wrapper_news.active {
	display: block;
}

#content .hit .news a {
	color: #333;
}
#content .hit .news a:hover {
	color: #48729C;
}
#content .hit .news .date {
	font-size: 10px;
	line-height: 12px;
}
#content .hit:hover .background {
	cursor: pointer;
	background: #485712;
}
#content .hit.empty:hover .background {
	background: #eee;
}

#content .buttons {
	
	text-align: center;
}
#content .buttons .dislike,
#content .buttons .like {
	width: 15px;
	height: 21px;
	background-image: url("./dislike.png");
	display: inline-block;
}
#content .buttons .like {
	margin-right: 5px;
	background-image: url("./like.png");
}
#content .buttons .like:hover {
	background-image: url("./likeHover.png");
}
#content .buttons .dislike:hover { 
        background-image: url("./dislikeHover.png");
}

#content .news.source_TIME {
	background: #B3A72D;
}
